---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import { env } from 'cloudflare:workers';
import { getAccessToken } from '../lib/zoho.js';
export const prerender = false;



const kv = env.SERVICE_MAYERANDWATT || 'Not Defined';
const cf = Astro.request.cf;



let error = null;
let messages = [];


const {accessToken, expiresIn} = await getAccessToken();
messages.push(`Access Token: ${accessToken}`);
messages.push(`Expires In (ms): ${expiresIn}`);

let resEmails = await fetch("https://www.zohoapis.com/crm/v8/Contacts?fields=Email,First_Name,Web_Pass&per_page=100", {
    method: "GET",
    headers: {
        "Authorization": `Zoho-oauthtoken ${accessToken}`
    },
});

let resProducts = await fetch("https://www.zohoapis.com/crm/v8/Products?fields=Product_Name&per_page=100", {
    method: "GET",
    headers: {
        "Authorization": `Zoho-oauthtoken ${accessToken}`
    },
});

let resEmailSearch = await fetch("https://www.zohoapis.com/crm/v8/Contacts/search?email=sage", {
    method: "GET",
    headers: {
        "Authorization": `Zoho-oauthtoken ${accessToken}`
    },
});
messages.push(`Email Search Status: ${resEmailSearch.status} ${resEmailSearch.statusText}`);


---
<Layout>
<Prose class="mx-auto" data-test="env-page">
    <h1>Environment Variable Test</h1>
    <p>Access Token: {accessToken}</p>
    <p>Expires In (ms): {expiresIn} @ {new Date(Date.now()+expiresIn).toLocaleTimeString()}</p>
    {resEmails.ok ? (
        <div>
            <h2 class="text-2xl">Contacts Emails:</h2>
            <ul>
            {
                (await resEmails.json()).data.map((contact: { Email: string; First_Name: string; Web_Pass: string; }) => (
                    <li>Email: {contact.Email}, First Name:{contact.First_Name}, Web Pass: {contact.Web_Pass}</li> 
                ))
            }
            </ul>
        </div>
    ) : (
        <p>Error fetching contacts: {resEmails.status} {resEmails.statusText}</p>
    ) }
    {resProducts.ok ? (
        <div>
            <h2>Products:</h2>
            <ul>
            {
                (await resProducts.json()).data.map((product: { Product_Name: string; }) => (
                    <li>{product.Product_Name}</li>
                ))
            }
            </ul>
        </div>
    ) : (
        <p>Error fetching products: {resProducts.status} {resProducts.statusText}</p>
    ) }

    {resEmailSearch.ok ? (
        <div>
            <h2 class="text-2xl">Email Search Results:</h2>
            <ul>
            {
                (await resEmailSearch.json()).data.map((contact: { Email: string; First_Name: string; Web_Pass: string; }) => (
                    <li>Email: {contact.Email}, First Name:{contact.First_Name}, Web Pass: {contact.Web_Pass}</li> 
                ))
            }
            </ul>
        </div>
    ) : (
        <p>Error fetching email search: {resEmailSearch.status} {resEmailSearch.statusText}</p>
    ) }
    <h2>Messages:</h2>
    <ul>
        {messages.map((message) => (
            <li>{message}</li>
        ))}
    </ul>
    </Prose>
</Layout>

