---
import Layout from "../layouts/Layout.astro";
import { env } from 'cloudflare:workers';
export const prerender = false;



const kv = env.SERVICE_MAYERANDWATT || 'Not Defined';
const cf = Astro.request.cf;


let error = null;
let messages = [];

const getAccessToken = async () => {

    let currentAccessToken = await kv.get("currentAccessToken");
    let currentTokenExpiry = await kv.get("currentTokenExpiry");
    if(currentAccessToken?.match(/.{20,}/) && parseInt(currentTokenExpiry) != Number.NaN && (Date.now() < parseInt(currentTokenExpiry) - 60 * 1000)) { // 1 minute buffer
        const logMsg = `Using cached API Key: ${currentAccessToken}`;
        messages.push(logMsg);
        messages.push(`Expires In (ms): ${parseInt(currentTokenExpiry) - Date.now()}`);

        return {accessToken: currentAccessToken, expiresIn: parseInt(currentTokenExpiry) - Date.now()};
    } else {
        messages.push("No valid cached API Key found, fetching new one.");
    }
    try {
    let res = await fetch("https://accounts.zoho.com/oauth/v2/token", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        },
        body: new URLSearchParams({
            "client_id": env.CLIENT_ID,
            "client_secret": env.CLIENT_SECRET,
            "grant_type": "client_credentials",
            "scope": env.ACCESS_SCOPE,
            "soid": env.SOID
        })
    });
    let json = await res.json();
    messages.push(`Zoho Response: ${JSON.stringify(json)}`);
    let {access_token, expires_in} = json;
    let expiryTimestamp = Date.now() + (expires_in * 1000);
    await kv.put("currentAccessToken", access_token);
    await kv.put("currentTokenExpiry", expiryTimestamp.toString());

    messages.push(`Fetched new API Key from Zoho: ${access_token}`);
    messages.push(`Expires In (ms): ${expires_in}`);

    return {accessToken:access_token, expiresIn:expires_in};
    } catch(err) {
        messages.push(`ERROR fetching access token: ${err?.message || String(err)}`);
        error = err;
        return {accessToken:null, expiresIn:0}; 
    }  
}; 

const {accessToken, expiresIn} = await getAccessToken();
messages.push(`Access Token: ${accessToken}`);
messages.push(`Expires In (ms): ${expiresIn}`);

let resEmails = await fetch("https://www.zohoapis.com/crm/v8/Contacts?fields=Email,First_Name,Web_Pass&per_page=100", {
    method: "GET",
    headers: {
        "Authorization": `Zoho-oauthtoken ${accessToken}`
    },
});

let resProducts = await fetch("https://www.zohoapis.com/crm/v8/Products?fields=Product_Name&per_page=100", {
    method: "GET",
    headers: {
        "Authorization": `Zoho-oauthtoken ${accessToken}`
    },
});
---
<Layout>
    <h1>Environment Variable Test</h1>
    {error && <p style="color:red;">Error fetching access token: {error.message} <br> {JSON.stringify(error)}</p>
    }
    <p>Access Token: {accessToken}</p>
    <p>Expires In (ms): {expiresIn} @ {new Date(Date.now()+expiresIn).toLocaleTimeString()}</p>
    {resEmails.ok ? (
        <div>
            <h2 class="text-2xl">Contacts Emails:</h2>
            <ul>
            {
                (await resEmails.json()).data.map((contact: { Email: string; First_Name: string; Web_Pass: string; }) => (
                    <li>Email: {contact.Email}</li>
                    <li>First Name:{contact.First_Name}</li>
                    <li>Web Pass: {contact.Web_Pass}</li> 
                ))
            }
            </ul>
        </div>
    ) : (
        <p>Error fetching contacts: {resEmails.status} {resEmails.statusText}</p>
    ) }
    {resProducts.ok ? (
        <div>
            <h2>Products:</h2>
            <ul>
            {
                (await resProducts.json()).data.map((product: { Product_Name: string; }) => (
                    <li>{product.Product_Name}</li>
                ))
            }
            </ul>
        </div>
    ) : (
        <p>Error fetching products: {resProducts.status} {resProducts.statusText}</p>
    ) }
    <ul>
        {messages.map((message) => (
            <li>{message}</li>
        ))}
    </ul>
</Layout>

